<div class='row homepage-row'>
  <div class='col-md-6'>
    <center>
      <h3>Your Collections</h3>
        <%= form_for(@collection, remote: true) do |f| %>
        <div class="input-group collections-add">
          <%= f.text_field :title, id: 'item_name', class: 'form-control' %>
          <span class="input-group-btn">
            <%= f.submit class: 'btn btn-teal', value: 'Add' %>
          </span>
        </div>
        <% end %>
    </center>
    <ul class="list-group collections-list">
      <% @collections.each do |c| %>
        <%= link_to(c) do %>
          <li class="list-group-item">
            <span class="badge"><%= c.items.count %></span>
            <%= c.title %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class='col-md-6'>
    
  </div>
</div>
