<div class='row homepage-row'>
  <div class='col-md-6'>
    <center>
      <h3>Your Collections</h3>
        <%= form_for(@collection, remote: true) do |f| %>
        <div class="input-group" class='collections-add' style='max-width: 400px; margin: 10px 0px'>
          <%= f.text_field :title, id: 'item_name', class: 'form-control', style: 'background-image: none; background-position: 0% 0%; background-repeat: repeat;' %>
          <span class="input-group-btn">
            <%= f.submit class: 'btn btn-default teal', value: 'Add' %>
          </span>
        </div>
        <% end %>
    </center>
    <ul class="list-group" style='max-width: 400px; margin: 0 auto'>
      <% @collections.each do |c| %>
        <%= link_to(c) do %>
          <li class="list-group-item" style="font-style: italic; font-weight: 600; font-size: 20px; text-decoration: none">
            <span class="badge" style="margin-top: 5px;"><%= c.items.count %></span>
            <%= c.title %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class='col-md-6'>
    <center>
      <h3>For your generic todos</h3>
    </center>
    <div class="todo_list">
      <%= react_component 'TodoList', { items: @items, user_id: current_user.id} %>
    </div>
  </div>
</div>
